body{
  margin: 0;
  font-family: system-ui;
  min-height: 100vh;
}
header{
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  padding: 50px 0px;
  text-align: center;
}
header h1{
  padding: 0;
  margin: 0;
  color: #ef2ad5;
  text-shadow: 2px 2px 1px #1c51ef;
}
.page-title{
  text-align: center;
}
.social{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.social a{
  display: inline-block;
  position: relative;
  padding: 12px 30px;
  margin: 0 auto;
  background: #396afc;
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}